<% provide(:title, 'new-class') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>

<div class="class-title"><h1>クラス作成</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @classname, local: true) do |f| %>  
      <%= render 'shared/error_messages', object: @classname %>  
    
      <div class="class-create"><%= f.label :class_name, class: "label-#{yield(:class_text)}" %></div>
      <%= f.text_field :class_name, class: "form-control" %>  
      <%= f.submit yield(:button_text), class: "btn btn-success btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>