<% provide(:title, 'new-class') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規登録') %>

<div class="student-title-2"><h1>クラス登録</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @classnumber, local: true) do |f| %>  
      <%= render 'shared/error_messages', object: @classnumber %>  

      <div class="class-create"><%= f.label :class_name, class: "label-#{yield(:class_text)}" %></div>

      <div class="class-create-form">
        <!--%= f.text_field :class_name, required: true, class: "form-control" %-->
        <%= f.select :class_name, @class_list, { include_blank: "クラスを選択" }, { required: true } %>  
      </div>    
        <%= f.submit yield(:button_text), class: "btn btn-success btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>