  <%= form_with(model: @user, url: create_student_user_path, local: true) do |f| %>
    <%= render 'shared/error_messages', object: @user %>

<div class ="student-register">
  <%= f.label :name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :name, class: "form-control" %>
  
    <div class="class-select">  
      <div class="item-1"></div>
      <div class="item-4"><%= f.label :birthday, class: "label-#{yield(:class_text)}" %></div> 
      <div class="birthday-select"><%= raw sprintf(
            f.date_select(
              :birthday,
              use_month_numbers: true,
              start_year: 2000,
              end_year: (Time.now.year - 0),
              default: Date.new(Time.now.year, Time.now.mon, Time.now.mday),
              date_separator: '%s'),
            '年 ', '月 ') + '日' %></div>
    </div>
    <div> 
      <%= f.label :guardian_name, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :guardian_name, class: "form-control" %>
    </div>
      <%= f.label :address, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :telephone_number, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :telephone_number, class: "form-control" %>
      
      <%= f.label :email, class: "label-#{yield(:class_text)}" %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label :password, class: "label-#{yield(:class_text)}" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-success btn-block btn-#{yield(:class_text)}" %>
  <% end %>
</div>