<% provide(:title, 'edit-student') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '更新する') %>  
  
<div class="student-title-2"><h1>生徒編集</h1></div>

<div class ="student-register">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">  
      <%= form_with(model: @user, url: update_student_user_path, method: :patch, local: true) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :name, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <div class="class-select">  
        <div class="item-1"></div>
          <div class="item-4"><%= f.label :birthday, class: "label-#{yield(:class_text)}" %></div> 
            <div class="birthday-select"><%= raw sprintf(
              f.date_select(
              :birthday,
              use_month_numbers: true,
              start_year: 2000,
              end_year: (Time.now.year - 0),
              default: Date.new(Time.now.year, Time.now.mon, Time.now.mday),
              date_separator: '%s'),
              '年 ', '月 ') + '日' %>
            </div>
      </div>
      
        <%= f.label :class_number, class: "label-#{yield(:class_text)}" %></td>
      <div class= "teacher-class">
        <td><%= f.select :class_number, @class_list.pluck(:class_name), { include_blank: "クラスを選択" } %></td>
      </div> 
      
      <div class="student-number">  
        <%= f.label :student_number, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :student_number, class: "form-control" %>
      </div>

        <%= f.label :guardian_name, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :guardian_name, class: "form-control" %>
    
        <%= f.label :address, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :address, class: "form-control" %>

        <%= f.label :telephone_number, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :telephone_number, class: "form-control" %>

        <%= f.submit yield(:button_text), class: "btn btn-success btn-student" %>
      <% end %>
    </div>
  </div>
</div>