<% provide(:title, @user.name) %>

<body style="background-color: #BEFF15">
  
  <% if logged_in? && current_user.admin? %>
    <div class="board-class"><h1>管理者メニュー</h1></div>
    <div> 
      <table class="table table-bordered table-condensed" id="teacher-show">
        <thead> 
          <tr> 
            <th><%= link_to "担任一覧",  teacher_index_user_path(current_user) %></th>
            <th><%= link_to "クラス一覧", schoolclasses_class_index_user_path(current_user, @schoolclass) %></th>
            <th><%= link_to "生徒一覧", student_index_3_user_path %></th>
            <th><%= link_to "担任登録", new_teacher_user_path(current_user) %></th>
            <th><%= link_to "クラス作成", new_classnumber_path(current_user) %></th>
            <th><%= link_to "管理者情報編集", edit_admin_user_path(@user) %></th>
          </tr>
        </thead>
      </table>
    </div>
  <% end %>   
          
  <% if logged_in? && current_user.teacher? %>
    <div class="board-class"><h1><%= "#{@user.class_number}：#{@user.name}" %></h1></div>
    <div> 
      <table class="table table-bordered table-condensed" id="teacher-show">
        <thead> 
          <tr>  
            <th><%= link_to "生徒一覧", student_index_user_path %></th>
            <th><%= link_to "学級だより", schoolclasses_board_create_index_user_path(current_user) %></th>
            <th><%= link_to "学校との連絡", schoolclasses_show_teacher_contact_user_path(current_user, @user) %></th>
            <th><%= link_to "担任情報編集", edit_teacher_user_path(current_user) %></th>
          </tr>
        </thead>  
      </table>
    </div>
  <% end %>
    
  <% if logged_in? %>
    <% unless current_user.admin? || current_user.teacher? %>     
      <div>

        <table class="table table-bordered table-condensed table-hover" id="table-show-guardian">
          <tr>
            <td class="guardian-3">保護者</td>
            <td class="student-name1">
              <a class="student-name3"><%= link_to "#{@user.name}", guardian_detail_user_path %></a>
              <a><%= link_to "編集", edit_guardian_user_path, class: "btn btn--green btn--student" %></a>
            </td>
            <td class="guardian-3"></td>
          </tr>
        </table>

        <table class="table table-bordered table-condensed table-hover" id="table-show-student">
          <thead>   
            <% if @students.present? %>  
            <tr>  
              <th>クラス</th>
              <th>生徒名</th>
              <th>連絡</th>
            </tr>
            <% end %>
          </thead>
            <% @students.each do |student| %>
              <tr>
                <td><%= student.class_belongs %></td>
                <td class="student-name1">
                  <a class="student-name3"><%= link_to student.student_name, students_student_detail_user_path(student) %></a>
                  <a><%= link_to "編集", students_edit_student_user_path(student), class: "btn btn--green btn--student" %></a>
                </td>  
                <td><%= link_to "連絡帳", schoolclasses_index_guardian_contact_user_path(student) %>
              </tr>  
            <% end %>        
        </table>
          <div class="title-line-4"><%= link_to "生徒登録", students_new_user_path %></div>
      </div>
    <% end %> 
  <% end %>
</body>