<% provide(:title, @user.name) %>

<body style="background-color: #BEFF15">

  <% if logged_in? && current_user.admin? %>  
    <div class="title-line"><%= link_to "学年選択", schoolclasses_class_index_user_path(current_user, @schoolclass) %></div>
    <div class="title-line"><%= link_to "担任一覧",  teacher_index_user_path(current_user, @user) %></div>
    <div class="title-line"><%= link_to "クラス作成", new_classnumber_path(current_user) %></div>
    <div class="title-line"><%= link_to "生徒一覧", student_index_3_user_path %></div>
    <div class="title-line"><%= link_to "担任登録", new_teacher_user_path(current_user, @user) %></div>
    <div class="title-line"><%= link_to "管理者情報編集", '#' %></div>
  <% end %>
  
  <% if logged_in? && current_user.teacher? %>
    <div class="title-line2"><%= link_to "生徒登録", new_student_user_path %></div>
    <div class="title-line2"><%= link_to "生徒一覧", student_index_user_path %></div>
    <div class="title-line2"><%= link_to "学級だより", schoolclasses_board_create_index_user_path(current_user) %></div>
    <div class="title-line2"><%= link_to "学校との連絡", schoolclasses_show_teacher_contact_user_path(current_user, @user) %></div>
  <% end %>
    
  
  <div><h1>　　　　</h1></div>
  <% if logged_in? %>
    <% unless current_user.admin? || current_user.teacher? %>     
      <% @students.each do |student| %>  
        <div class="title-line-3">
          <span class="box-title"><%= student.class_number %></span>
            <p class="student-contents"><%= link_to student.name, student_detail_user_path(student) %>
                                      ・<%= link_to "連絡帳", schoolclasses_index_guardian_contact_user_path(student) %></p>
            <p class="a"><%= link_to "編集", edit_student_user_path(student), class: "btn btn--green btn--border-groove" %>・<%= link_to "学級だより", schoolclasses_board_index_user_path(student) %></p>
        </div>      
      <% end %>
      <div class="title-line-4"><%= link_to "生徒登録", new_student_user_path %></div>
    <% end %> 
  <% end %>
</body>