<% provide(:title, 'Student-Index') %>

<div class="student-title"><h1><%= "#{@user.class_number}生徒一覧" %></h1></div>

<table class="table table-bordered table-condensed" id="table-index-teacher"> 
  <th><%= "担任：#{@user.name}" %></th>
  <th><%= "生徒数：#{@student_count}名" %></th>
</table>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-class-index">
    <thead> 
      <tr>  
        <th>出席番号</th>
        <th>名前</th>
        <th>保護者</th>
        <th>連絡帳</th>
        <th>生徒削除</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <% @guardians.each do |guardian| %>  
          <% if student.class_belongs == @user.class_number && student.user_id == guardian.id %> 
            <tr>
              <td class="student-1"><%= student.student_number %></td>
              <td class="student-name">
                <a><%= link_to "#{student.student_name}", students_student_detail_user_path(student) %></a>
                <%= link_to "編集", students_edit_student_user_path(student), class: "btn btn--green btn--student" %>
              </td>
              <td><%= guardian.name%></td>
              <td><%= link_to "連絡帳", schoolclasses_index_teacher_contact_user_path(student) %></td>
              <td>
                <% if current_user.teacher? && current_user %>
                  <%= link_to "削除", student_destroy2_user_url(student), method: :delete,
                      data: { confirm: "削除してよろしいですか？" },
                      class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>