<% provide(:title, 'Student-Detail') %>

<div class="student-title"><h1>生徒詳細</h1></div>

<div>
  <table class="table table-bordered table-condensed" id="student-detail">   
    <thead> 
      <tr>  
        <th>生徒名</th>
        <th>生年月日</th>
        <th>年齢</th>
        <th>保護者名</th>
        <th>住所</th>
        <th>電話番号</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>    
        <td><%= @user.name %></td>
        <td><%= @user.birthday.strftime("%Y年%m月%d日") if @user.birthday.present? %></td>
        <td><%= "#{student_birthday(Date.today, @user.birthday)}歳" %></td>
        <td><%= @user.guardian_name %></td>
        <td><%= @user.address %></td>
        <td><%= @user.telephone_number %></td>
      </tr>
    </tbody>
  </table>
</div>