<% provide(:title, 'all-students') %>

<div class="student-title"><h1><%= "#{@user.class_number}生徒一覧" %></h1></div>

<div>
  <!--%= will_paginate %-->
  <table class="table table-bordered table-condensed table-hover" id="table-class-index">      
    <thead> 
      <tr>
        <th>クラス</th>
        <th>名前</th>
        <th>保護者</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <% @guardians.each do |guardian| %>  
          <% if student.user_id == guardian.id %>
            <tr>
              <td><%= student.class_belongs %></td>
              <td><%= link_to "#{student.student_name}", students_student_detail_user_path(student) %></td>
              <td><%= link_to "#{guardian.name}", guardian_detail_user_path(guardian) %>
              <td>
                <% if current_user.admin? && !current_user?(student) %>
                  <%= link_to "削除", student_destroy_user_url(student), method: :delete,
                      data: { confirm: "削除してよろしいですか？" },
                      class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
