<% provide(:title, 'Student-Index') %>

<div class="student-title"><h1><%= "#{@user.class_number}生徒一覧" %></h1></div>

<table class="table table-bordered table-condensed table-hover" id="table-index-teacher"> 
  <th><%= "担任：#{@user.name}" %></th>
  <th><%= "生徒数：#{@student_count}名" %></th>
</table>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-class-index">
    <thead> 
      <tr>  
        <th>出席番号</th>
        <th>名前</th>
        <th>保護者</th>
        <th>連絡帳</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <% if student.class_number == @user.class_number %> 
          <tr>
            <td><%= student.student_number %></td>
            <td class="student-name"><%= link_to "#{student.name}", student_detail_user_path(student) %></td>
            <td><%= student.guardian_name %></td>
            <td>連絡帳</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>