<% provide(:title, 'Student-Index-2') %>

<div class="student-title"><h1><%= "#{@user.class_number}生徒一覧" %></h1></div>

<table class="table table-bordered table-condensed" id="table-index-teacher"> 
  <th><%= "担任：#{@user.name}" %></th>
  <th><%= "生徒数：#{@student_count}名" %></th>
</table>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-class-index">    
    <thead> 
      <tr>  
        <th>出席番号</th>
        <th>名前</th>
        <th>保護者</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <% @guardians.each do |guardian| %> 
          <% if student.user_id == guardian.id %>  
            <tr>
              <td><%= student.student_number %></td>
              <td><%= link_to "#{student.student_name}", students_student_detail_user_path(student) %></td>
              <td><%= link_to "#{guardian.name}", guardian_detail_user_path(guardian) %></td>
            </tr> 
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>