<% provide(:title, 'Schoolyear-Index') %>
<h1>学年選択</h1>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
    
      <td><%= link_to "1年", schoolclasses_edit_1_user_path %></td>
      <td><%= link_to "2年" %></td>
      <td><%= link_to "3年" %></td>
      <td><%= link_to "4年" %></td>
      <td><%= link_to "5年" %></td>
      <td><%= link_to "6年" %></td>

    </thead>
  </table>
</div>