<% provide(:title, 'Edit-Teacher-Contact') %>

<div class="admin-contact"><h1><%= "#{@user.name}への連絡" %></h1></div>
    
<%= form_with(model: @user, url: schoolclasses_update_teacher_contact_user_path, local: true, method: :patch) do |f| %>  
  <% @contact.each do |day| %>  
    <%= f.fields_for "schoolclasses[]", day do |contact| %> 

    <% css_class = case $days_of_the_week[day.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
        end %>
    
    <div class="contact-date">     
      <div class="<%= css_class %>"><%= day.contact_date.strftime("%Y年%m月%d日") %><%= "(""#{$days_of_the_week[day.contact_date.wday]})" %></div>
    </div>
    
    <div class="contact-title">
      <td><%= contact.text_field :title, placeholder: "タイトルを入力してください" %></td>
    </div>
    
    <div class="text-contact">     
      <td>
        <%= contact.text_area :teacher_note, placeholder: "コメントを入力してください", class: "container" %>
      </td> 
      <td class="contact-btn"><%= f.submit "投稿", class: "contact-btn btn-success btn-lg btn-login" %></td>
    </div>  
    <% end %>
  <% end %>
<% end %>
  
<div class="teacher-contact"><h4><%= "#{@user.name}からの返信" %></h4></div>
  <div class="posts-show">   
    <% @teacher_contact.each do |day| %> 
      <td><%= day.school_contact %></td>
    <% end %>
  </div>   
  
