<% provide(:title, 'guardianform-contact') %>

<div class="contact-index-2"><h1><%= "#{@student.student_name}からの連絡" %></h1></div>

<%  @contact_title.each do |contact| %>

    <% css_class = case $days_of_the_week[contact.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
          end %>  

<div class="contact-date">
  <div class="<%= css_class %>"><%= contact.contact_date.strftime("%Y年%m月%d日") %><%= "(""#{$days_of_the_week[contact.contact_date.wday]})" %></div>
</div>
<div class="contact-title-2"><td><%= contact.title_4 %></td></div>
  <div class="posts-show">
    <td><%= contact.guardian_note_3 %>
  </div> 
<% end %>

<div class="teacher-contact"><h4>保護者への返信</h4></div>
  <div class="text-contact">
    <%= form_with(model: @user, url: schoolclasses_update_guardianform_contact_user_path, local: true, method: :patch) do |f| %>  
      <% @contacts.each do |day| %>
        <%= f.fields_for "schoolclasses[]", day do |contact| %>
          <td><%= contact.text_area :guardian_note_4, placeholder: "コメントを入力してください", class: "container" %></td>    
          <td class="contact-btn"><%= f.submit "投稿", class: "contact-btn btn-success btn-lg btn-login" %></td>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>