<% provide(:title, 'edit-classboard') %>

<div class="board-edit"><h1>学級だより作成</h1></div>

<%= form_with(model: @user, url: schoolclasses_update_class_board_user_path, local: true, method: :patch) do |f| %>
  <% @board_date.each do |day| %>
    <%= f.fields_for "schoolclasses[]", day do |board| %> 

    <% css_class = case $days_of_the_week[day.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
        end %>
  
  <div class="board-title">               
    <div class="<%= css_class %>"><%= day.contact_date.strftime("%Y年%m月%d日") %><%= "(""#{$days_of_the_week[day.contact_date.wday]})" %></div>
    <div class="board-title2"><%= board.text_field :board_title, required: true, placeholder: "タイトルを入力してください" %></div>
  </div>
  
  <div class="class-board">     
    <td>
      <%= board.text_area :contact_board, required: true, placeholder: "お知らせを入力してください", class: "container" %>
    </td>
  </div>
  <div>
    <%= board.file_field :image, id: :board_board_image %>
  <br>
  <div class="form-group">
    <%= image_tag 'board_image', size: '300x200',id: 'preview_img' %>
  </div>

<script type="text/javascript">  
  document.addEventListener('DOMContentLoaded', () => {
  const file_button = document.querySelector('#board_board_image');
  const preview_img = document.querySelector('#preview_img');

  file_button.addEventListener('change', (e) => {
    let file = e.target.files;
    let reader = new FileReader() ;
    reader.readAsDataURL(file[0])
    reader.onload = function() {
      preview_img.src = reader.result;
    }
    },false);
  });
</script>

  <div>
    <%= image_tag day.image.url if day.image? %>
  </div>
  <br>
  <div class="board-select">
    <td>
      <%= board.select :board_select, Schoolclass.board_selects, {prompt: true}, { class: "form-control-lg", required: true } %>
    </td>
    <td><%= f.submit "更新", class: "board-btn btn-success btn-lg" %></td>
  </div>
  <% end %>
  <% end %>
<% end %>
 