<% provide(:title, 'guardian-contact') %>

<div class="contact-index">
  <h1><%= "【#{@student.student_name}】連絡帳" %></h1>
</div>

<div class="btn-month"><%= link_to "前月", schoolclasses_index_guardian_contact_user_path(date: @first_day.prev_month), class: "btn btn--orange btn--border-solid" %>
  <%= l(@first_day, format: :middle) %>
  <%= link_to "次月", schoolclasses_index_guardian_contact_user_path(date: @first_day.next_month), class: "btn btn--orange btn--border-solid" %>
  <% @teachers.each do |teacher| %>
    <% if teacher.class_number == @student.class_belongs %> 
      <%= "【担任：#{teacher.name}】"%>
    <% end %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-contact-index">
    <thead>
      <tr>
        <th class="date-1">日付</th>
        <th class="date-2">担任からの連絡</th>
        <th class="date-3">担任への連絡</th>
      </tr>
    </thead>
    <tbody>
      <% @schoolclasses.each do |day| %> 
      
        <% css_class = case $days_of_the_week[day.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
        end %> 
      
        <tr> 
          <td class="<%= css_class %>">
            <%= l(day.contact_date, format: :short) %>
            <%= "(""#{$days_of_the_week[day.contact_date.wday]})" %>
          </td>
          <td>
            <% if day.title_3.present? %>
              <%= link_to day.title_3, schoolclasses_edit_teacherform_contact_user_path(@user, date: day.contact_date) %>
            <% elsif day.title_3.blank? && day.guardian_note_1.present? %>
              <%= link_to "無題", schoolclasses_edit_teacherform_contact_user_path(@user, date: day.contact_date) %>
            <% end %>
            <br>
            <% if day.guardian_post_count1 > 1 %>
              <font color="red">返信あり</font>
              <%= l(day.contact_update5, format: :short) if day.contact_update5.present? %>
            <% end %>
          </td>
          <td>
            <% if day.title_4.present? %>
              <%= link_to day.title_4, schoolclasses_edit_guardianwhat_contact_user_path(@user, date: day.contact_date) %>
            <% elsif day.title_4.blank? && day.guardian_note_3.present? %>
              <%= link_to "無題", schoolclasses_edit_guardianwhat_contact_user_path(@user, date: day.contact_date) %>
            <% elsif Date.current > day.contact_date || Date.current == day.contact_date %>
              <%= link_to "連絡", schoolclasses_edit_guardianwhat_contact_user_path(@user, date: day.contact_date), class: "btn btn--green btn--border-groove" %> 
            <% end %>
            <br>
            <% if day.guardian_post_count4 > day.before_guardian_postcount4 %>
              <font color="red">返信あり</font>
              <%= l(day.contact_update8, format: :short) if day.contact_update8.present? %>
            <% end %>
          </td> 
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>