<% provide(:title, 'Show-Board') %>

  <div class="admin-contact"><h1><%= "#{@student.class_belongs}学級だより" %></h1></div>

  <% @news_board.each do |news| %>

    <% css_class = case $days_of_the_week[news.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
          end %>  

  <div class="contact-date">
    <div class="<%= css_class %>"><%= news.contact_date.strftime("%Y年%m月%d日") %><%= "(""#{$days_of_the_week[news.contact_date.wday]})" %></div>
  </div>
  <div class="contact-title-2"><td><%= news.board_title %></td></div>
  <div class="posts-show">
    <td><%= news.contact_board %></td>
  </div>
  <div class="posts-image">
    <%= image_tag news.image.url if news.image.present? %> 
  </div>
  <% end %>


