<% provide(:title, 'Teacher-Contact') %>

<div class="contact-index2"><h1><%= "#{@user.name}連絡帳" %></h1></div>

<div class="btn-month"><%= link_to "前月", schoolclasses_teacher_contact_index_user_path(date: @first_day.prev_month), class: "btn btn--orange btn--border-solid" %>
  <%= l(@first_day, format: :middle) %>
  <%= link_to "次月", schoolclasses_teacher_contact_index_user_path(date: @first_day.next_month), class: "btn btn--orange btn--border-solid" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-contact-index">
    <thead>
      <tr>
        <th class="date-1">日付</th>
        <th class="date-2">担任からの連絡</th>
        <th class="date-3">担任への連絡</th>
      </tr>
    </thead>
    <tbody>
      <% @schoolclasses.each do |day| %> 
      
        <% css_class = case $days_of_the_week[day.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
        end %> 
      
        <tr> 
          <td class="<%= css_class %>">
            <%= l(day.contact_date, format: :short) %>
            <%= "(""#{$days_of_the_week[day.contact_date.wday]})" %>
          </td>
          <td>
            <% if day.title_2.present? %>
              <%= link_to day.title_2, schoolclasses_edit_teacher_contact_2_user_path(@user, date: day.contact_date) %>
            <% elsif day.title_2.blank? && day.teacher_note_2.present? %>
              <%= link_to "無題", schoolclasses_edit_teacher_contact_2_user_path(@user, date: day.contact_date) %>
            <% end %>
            <br>
            <% if day.post_count2 > 1 %>
              <font color="red">返信あり</font>
              <%= l(day.contact_update3, format: :short) if day.contact_update3.present? %>
            <% end %>
          </td>
          <td class="a">  
            <% if day.title.present? %>
              <%= link_to day.title, schoolclasses_edit_teacher_contact_user_path(@user, date: day.contact_date) %>
            <% elsif day.title.blank? && day.teacher_note.present? %>
              <%= link_to "無題", schoolclasses_edit_teacher_contact_user_path(@user, date: day.contact_date) %>
            <% elsif Date.current > day.contact_date || Date.current == day.contact_date %>
              <%= link_to "連絡", schoolclasses_edit_teacher_contact_user_path(@user, date: day.contact_date), class: "btn btn--green btn--border-groove" %>
            <% end %>
            <br>           
            <% if day.contact_count1 > day.before_contact1 %>
              <font color="red">返信あり</font>
              <%= l(day.contact_update2, format: :short) if day.contact_update2.present? %>
            <% end %>
          </td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>