<% provide(:title, 'Teacher-Contact') %>

<h1>学校からの連絡</h1>
<%  @contact_title.each do |contact| %>
  <h4><%= contact.title %></h4>
<% end %>

<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <% @contacts.each do |day| %> 
        <td><%= day.teacher_note %></td>
      <% end %>
    </div>
  </div>
</div>

<h4>学校への連絡</h4>
<div class="contents_form">
  <div class="container_box">
    <%= form_with(model: @user, url: schoolclasses_update_school_contact_user_path, local: true, method: :patch) do |f| %>
      <% @contacts.each do |day| %> 
        <%= f.fields_for "schoolclasses[]", day do |contact| %>  
          <td><%= contact.text_area :school_contact, placeholder: "コメントを入力してください", rows: "10", class: "container" %></td>
          <td><%= f.submit "投稿", class: 'container' %></td>
        <% end %>
      <% end %>
    <% end %>  
  </div>
</div>

    
  
