<% provide(:title, 'Teacher-Contact') %>

<div class="contact-index-2"><h1>学校からの連絡</h1></div>

<%  @contact_title.each do |contact| %>

    <% css_class = case $days_of_the_week[contact.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
          end %>  

<div class="contact-date">
  <div class="<%= css_class %>"><%= contact.contact_date.strftime("%Y年%m月%d日") %><%= "(""#{$days_of_the_week[contact.contact_date.wday]})" %></div>
</div>
<div class="contact-title-2"><td><%= contact.title %></td></div>
  <div class="posts-show">  
    <td><%= contact.teacher_note %></td>
  </div> 
<% end %>

<div class="teacher-contact"><h4>学校への返信</h4></div>
  <div class="text-contact">
    <%= form_with(model: @user, url: schoolclasses_update_school_contact_user_path, local: true, method: :patch) do |f| %>  
      <% @contacts.each do |day| %>
        <%= f.fields_for "schoolclasses[]", day do |contact| %>
          <td><%= contact.text_area :school_contact, placeholder: "コメントを入力してください", class: "container" %></td>             
        <div class="contact-select"> 
          <%= contact.select :contact_select2, Schoolclass.contact_select2s, {prompt: true}, { class: "form-control-lg", required: true } %>
          <td><%= f.submit "更新", class: "board-btn btn-success btn-lg" %></td>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>