<% provide(:title, 'Teacher-Contact') %>

<div class="contact-index"><h1><%= "#{@user.name}への連絡" %></h1></div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-contact-index">
    <thead>
      <tr>
        <th class="date-1">日付</th>
        <th class="date-2">連絡</th>
        <th class="date-3"></th>
      </tr>
    </thead>
    <tbody>
      <% @schoolclasses.each do |day| %> 
      
        <% css_class = case $days_of_the_week[day.contact_date.wday]
          when '土'
          'text-primary'
          when '日'
          'text-danger'
        end %> 
      
        <tr> 
          <td class="<%= css_class %>"><%= l(day.contact_date, format: :short) %>
          <%= "(""#{$days_of_the_week[day.contact_date.wday]})" %></td>
          <td class="a"><%= link_to "連絡する", schoolclasses_edit_teacher_contact_user_path(@user, date: day.contact_date), class: "btn btn--green btn--border-groove" %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>