<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CONTACT App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        
        <% if logged_in? %>
          <li><%= link_to "トップ画面", current_user %></li>
        <% end %>
        
        <% if logged_in? && current_user.admin? %>
          <li><%= link_to "学年選択", schoolclasses_class_index_user_path(current_user, @schoolclass) %></li>
          <li><%= link_to "担任一覧",  teacher_index_user_path(current_user, @user)%></li>
        <% end %>
        
        <% if logged_in? && current_user.teacher? %>
          <li><%= link_to "学校からの連絡", schoolclasses_show_teacher_contact_user_path(current_user) %></li>
        <% end %>

        <% if logged_in? && current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              作成メニュー <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "クラス作成", new_class_number_path %></li>
              <li><%= link_to "担任登録", new_teacher_user_path(current_user, @user) %></li>
            </ul>
          </li>
        <% end %>
      
        <% if logged_in? && current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              編集メニュー <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
              <li><%= link_to "担任情報編集", '#' %></li>
              <li><%= link_to "生徒情報編集", '#' %></li>
            </ul>
          </li>
        <% end %>

        <% if logged_in? && current_user.teacher? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              編集メニュー <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
              <li><%= link_to "生徒情報編集", '#' %></li>
            </ul>
          </li>
        <% end %>
        
        <% if logged_in? %>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>